.client {
    background-color: var(--primery-bg-color);
}

.client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--title-text-color);
    margin-bottom: 50px;
}

.client-list {
    display: flex;
}

.client-item {
    width: 170px;
    height: 92px;
    @extend %placeholder1;
    justify-content: center;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    color: #afb1b8;
    transition: border 250ms var(--cubic-bezier),
    color 250ms var(--cubic-bezier);

    &:hover, :focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);}
}




.client-link + .client-link {
    margin-left: 30px;
}

.client-icon {
    fill: currentColor;
    border: currentColor;
}


